{% extends 'front/layout.twig'%}
{% block head %}
    <title>Développeur PHP/Symfony</title>
    <meta description="Développeur PHP depuis 2010"/>
    {{ parent() }}
{% endblock %}

{% block content %}
    {% include 'front/navigation.twig' %}
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto rounded-circle" src="/assets/front/img/barthelemyehui.jpg" alt="Développeur Web">
            <h1 class="text-uppercase mb-0">Développeur</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Développeur PHP/Symfony</h2>
        </div>
    </header>

    <!-- Blog Grid Section -->
    <section class="blog" id="blog">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Blog</h2>
            <hr class="star-dark mb-5"/>
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">{{ post.title }}</h4>
                                {{ post.description }}
                                <a href="/post/{{ post.slug }}">...Lire la suite</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <hr class="star-dark mb-5">
            <div class="row">

                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="/assets/front/img/portfolio/small/lamaisondomotique900650.png" alt="La maison domotique">
                    </a>
                </div>

                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="/assets/front/img/portfolio/small/agenceimmobilièrealliantdouceuretconfort900650.jpeg" alt="agence immobilière fictive">
                    </a>
                </div>

                <div class="col-md-6 col-lg-4">
                    <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
                        <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                            <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="/assets/front/img/portfolio/small/festivaldesFilmsdePleinAir900650.png" alt="Festival films pleins air">
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">qui suis-je</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Jouant avec l'ordinateur depuis mon plus jeune âge. J'adore bidouiller les machines. Avec un esprit curieux et acharné, j'ai appris à coder à l'aide de formations, de tutoriels et de documentations. Ce qui m'a permis de contribuer à des projets digitaux de divers horizons.</p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">J'ai connu PHP en 2010, aujourd'hui je me suis spécialisé. Et chaque jour, je découvre de nouvelles approches pour accomplir des tâches beaucoup plus efficacement.</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="/storage/barthelemyehui.pdf" download>
                    <i class="fa fa-download mr-2"></i>Télécharger mon cv
                </a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Contact</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" action="/send/email" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Nom</label>
                                <input class="form-control" id="name" type="text" placeholder="Nom" required="required" data-validation-required-message="Nom requis">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Adresse Email</label>
                                <input class="form-control" id="email" type="email" placeholder="Adresse email" required="required" data-validation-required-message="Adresse email requis">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Message</label>
                                <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Message requis"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% include 'front/footer.twig' %}
    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Remake de la Maison Domotique - 2010</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="/assets/front/img/portfolio/big/LaMaisondelaDomotique.png" alt="la maison domotique">
                        <p class="mb-5">Réalisé durant mon stage en 2010
                            <a href="http://www.maison-domotique.com/" target="_blank">Maison domotique.fr</a></p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fermer la fenêtre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Chalet & Caviar - 2018</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="/assets/front/img/portfolio/big/agenceimmobilièrealliantdouceuretconfort.jpg" alt="Agence immobilière">
                        <p class="mb-5">Réalisé durant ma formation Openclassrooms 2018 avec Wordpress
                            <a href="http://www.barthelemyehui.fr/chaletetcaviar/" target="_blank">Chalet & Caviar</a></p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fermer la fenêtre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
        <div class="portfolio-modal-dialog bg-white">
            <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
                <i class="fa fa-3x fa-times"></i>
            </a>
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-secondary text-uppercase mb-0">Festival des Films de Plein Air - 2018</h2>
                        <hr class="star-dark mb-5">
                        <img class="img-fluid mb-5" src="/assets/front/img/portfolio/big/FestivaldesFilmsdePleinAir.png" alt="">
                        <p class="mb-5">Réalisé durant ma formation Openclassrooms 2018 avec bootstrap
                            <a href="http://www.barthelemyehui.fr/FestivaldesFilmsdePleinAir/" target="_blank">Festival des Films de Plein Air</a></p>
                        <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                            <i class="fa fa-close"></i>
                            Fermer la fenêtre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}